.header{
    padding: 32px 36px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-cont-1{
    display: flex;
    gap: 44px;
    align-items: center;
    position: relative;
}

.header-logo{
    color: #000;
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.64px;
}

.header-button{
    background-color: #0F8277;
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 10px 12px;
    padding-right: 28px;
    position: relative;
}

.header-button::after{
    content: '';
    display: inline-block;
    background-image: url(../imgs/explore.svg);
    width: 10px;
    height: 14px;
    position: absolute;
    right: 12px;
    top: 10px;
}

.header label{
    position: relative;
}

.header-search{
    box-sizing: border-box;
    height: 36px;
    width: 330px;
    padding: 0;
    padding-left: 12px;
    border-radius: 4px;
    outline: 0;
    border: 1px solid #5C5C5C;
}

.header-search-button{
    display: inline-block;
    box-sizing: border-box;
    background-image: url(../imgs/search.svg);
    background-color: #0F8277;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    border: 1px solid #5C5C5C;
    border-radius: 0 4px 4px 0;
}

.header-cont-2{
    display: flex;
    align-items: center;
    gap: 104px;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 48px;
}

.nav-menu-courses{
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
}

.nav-menu-training{
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
}

.nav-button{
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-button-log{
    color: #0F8277;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
}

.nav-button-sign{
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    background-color: #0F8277;
    padding: 10px 12px;
    border-radius: 4px;
}

/*  START LEARNING CONTENT */

.content-start-learning{
    display: flex;
    margin: 0 36px;
    background-color: #DBF3ED;
    border-radius: 12px;
    align-items: center;
    height: 602px;
}

.learn-comfortably{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 110px;
    margin-right: 250px;
}

.learn-comfortably-head{
    color: #000;
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;    
}

.learn-comfortably-text{
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 600;    
    width: 482px;
}

.start-learning{
    display: inline-block;
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 12px;
    background-color: #0F8277;
    border-radius: 4px;
}

.learn-more{
    display: inline-block;
    box-sizing: border-box;
    color: #0F8277;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    padding: 8.4px 12px;
    border: 2px solid #0F8277;
    border-radius: 4px;
    margin-left: 24px;
}

/* content-best-program */

.content-best-program{
    margin: 80px 36px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.best-program-header{
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.program-header-text1{
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.program-header-text2{
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.program-header-text3{
    color: #000;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.best-program-wrapper{
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 416px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    transition: transform 0.5s;
}

.university-img-wrapper , .university-img-wrapper2 , .university-img-wrapper3 , .university-img-wrapper4 , .university-img-wrapper5 , .university-img-wrapper6 , .university-img-wrapper7 {
    height: 270px;
    background-image: url(../imgs/univ-1.png);
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.university-text-wrapper{
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    box-sizing: border-box;
    cursor: pointer;
    padding-bottom: 125px;
}

.university-name{
    display: flex;
    align-items: center;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 16px;   
}

.university-name img{
    padding-right: 12px;
}

.university-text{
    color: #000;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.university-link{
    display: inline-flex;
    align-items: center;
    color: #0F8277;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    position: absolute;
    bottom: 24px;
    left: 16px;
}

.university-link img{
    padding-right: 12px;
}

.best-program-choise{
    display: flex;
    justify-content: space-between;
}

.university-img-wrapper2{
    background-image: url(../imgs/univ2.png);
}

.university-img-wrapper3{
    background-image: url(../imgs/univ3.png);
}

.university-img-wrapper4{
    background-image: url(../imgs/courses1.png);
}
.university-img-wrapper5{
    background-image: url(../imgs/courses2.png);
}
.university-img-wrapper6{
    background-image: url(../imgs/courses3.png);
}
.university-img-wrapper7{
    background-image: url(../imgs/courses4.png);
}

.popular-courses-wrapper{
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 306px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    transition: transform 0.5s;
}

.popular-courses-wrapper:hover , .best-program-wrapper:hover{
    transform: scale(1.1,1.1);
}

.more-info{
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.more-info img{
    position: relative;
    top: 3px;
    padding-left: 16px;
}

.featured-topics{
    margin: 83px 36px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.featured-topics-head{
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.featured-topics-wrapper{
    display: flex;
    justify-content: space-between;
}

.featured-topics-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 306px;
}

.topics-list-head{
    color: #000;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.topics-list-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topics-list-text{
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.topics-list-stat{
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;   
}

/* cooperation */

.cooperation{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 80px 36px;
    background: #DBF3ED;
    align-items: center;
}

.cooperation-heading{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    width: 870px;
}

.logo-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* solution */

.solution{
    display: flex;
    justify-content: space-between;
    margin: 80px 36px ;
    margin-bottom: 70px;
    align-items: center;
}

.solution-text{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.solution-text-head{
    align-self: stretch;
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    width: 600px;
    line-height: 120%;
}

.solution-text-main{
    width: 568px;
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.solution-text-button{
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    padding: 10px 12px;
    width: 107px;
    background-color: #0F8277;
    border-radius: 4px;
    line-height: 120%;
}

.solution-pics{
    display: grid;
    grid-template-rows: 136px 136px 136px;
    grid-template-columns: 196px 196px 196px ;
    border: 1px solid white;
}

.solution-pics-item1 , .solution-pics-item2 , .solution-pics-item3 , .solution-pics-item4 , .solution-pics-item5 , .solution-pics-item6 , .solution-pics-item7 , .solution-pics-item8 , .solution-pics-item9{
    width: 196px;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution-pics-item1 , .solution-pics-item2 , .solution-pics-item3 , .solution-pics-item4 , .solution-pics-item5 , .solution-pics-item6{
    border-bottom: 1px solid #BABABA;
}

.solution-pics-item1 , .solution-pics-item2 , .solution-pics-item4 , .solution-pics-item5 , .solution-pics-item7 , .solution-pics-item8{
    border-right: 1px solid #BABABA;
}

/* plan */

.plan{
    padding: 80px 36px;
    background-color: #DBF3ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.plan-head{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.plan-boxes-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.plan-box{
    height: 698px;
    padding: 56px;
    box-sizing: border-box;
    background-color: #fff;
    width: 416px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    text-align: center;
    transition-property: background-color, transform;
    transition-duration: 0.5s;
}

.plan-box-program{
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: center;
    margin-bottom: 75px;
}

.box-program-1{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.box-program-2{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.box-program-3 span{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    margin-right: 16px;
}

.box-program-3{
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.plan-box-button{
    width: 95px;
    color: #F6FDFF;
    font-family: Quicksand;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
    padding: 10px 12px;
    background-color: #0F8277;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.plan-box hr{
    background-color: #0F8277;
    height: 2px;
    border: 0;
    margin: 48px 0;
    border-radius: 80px;
}

.box-program-benefits{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.program-benefits{
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
}

.program-benefits span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: #0F8277;
    border-radius: 500px;
    background-image: url(../imgs/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.program-benefits span img{
    width: 10px;
    height: 10px;
}

.plus-margin{
    margin-bottom: 27px;
}

.plus-margin2{
    margin-bottom: 46px;
}

.plan-box:hover{
    background-color: #0F8277;
    transform: scale(1.1,1.1);
    .program-benefits span{
        background-color: #fff;
        background-image: url(../imgs/Vector2.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .plan-box-button{
        border: 1px solid #fff;
    }
    .program-benefits, .box-program-1 , .box-program-2 , .box-program-3, .box-program-3 span{
        color: #fff;
    }
    .plan-box-hr{
        background-color: #fff;
    }
}

.plan-box-button:hover{
    background-color: #fff;
    color: #0F8277;
}

/* photos */

.photos{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 80px 36px;
}

.photos-text{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.photos-wrapper{
    display: grid;
    grid-template-rows: repeat(3, 210.5px);
    grid-template-columns: repeat(4, 306px);
    gap: 24px;
    margin: auto;
}

.student-9{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

/* contact us */

.contact-bg-wrapper{
    background-image: url(../imgs/contact-bg.png);
    background-size: cover;
}

.contact{
    height: 727px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.contact-form{
    width: 565px;
    height: 614px;
    background-color: #DBF3ED;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-text{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; 
}

.form-subtext{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.form-textbox-holder{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.textbox-uppertext{
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.form-input{
    display: flex;
    padding: 12px;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #0F8277; 
    background: #FDFDFD;
    outline: none;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.form-input::placeholder{
    color: #8E8E8E;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.form-input-last{
    box-sizing: border-box;
    height: 104px;
    resize: none;
}

.form-button{
    display: flex;
    width: 196px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #0F8277;
    color: #F6FDFF;
    text-align: center;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 64px 36px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

.footer-left-text{
    color: #000;
    font-family: Quicksand;
    font-size: 32px;
    font-style: normal;
    font-weight: 1000;
    line-height: 120%;
    letter-spacing: 0.64px;
}

.footer-left-subtext{
    width: 306px;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-end;
}

.footer-icon-holder{
    display: flex;
    gap: 24px;
}

.footer-right-text{
    width: 306px;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

/* explore */


.sub-menu
{
    display: none;
}
.main-item:focus ~ .sub-menu,
.main-item:active ~ .sub-menu,
.sub-menu:hover
{
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 40px;
    top: 43px;
    left: 180px;
    width: 384px;
    box-sizing: border-box;
    padding: 16px 12px 33px 12px;
    background: #FFF;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.sub-menu-box-1{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu-box-1-text{
    align-self: stretch;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.sub-menu hr{
    width: 360px;
    height: 1px;
    background-color: #000;
    border: none;
}

.sub-menu-box-2{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-box-2-text{
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.menu-box-2-list{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.box-2-list-item{
    color: #000;    
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    line-height: 120%;
}